[2021-04-27 15:31] gillpeacegood opened #1 "The CmakeLists.txt is looking for node_modules in the wrong place"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-quick-sqlite@0.1.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-04-28 06:12] ospfranco commented on #1
cheers! I also had those changes at first, but somehow they do not work on the embedded project 😅 I'll apply the patch later!

[2021-04-30 07:15] ospfranco commented on #1
Done, thanks a lot for the patch!

[2021-04-30 07:15] #1 closed

[2021-07-29 11:03] dimaportenko opened #2 "Implement storage engine for redux-persist on top of this library"
I believe a lot of people use redux-persis. This library can give a huge performance boost for many projects and blow up popularity for this lib.

Looking into this https://github.com/prsn/redux-persist-sqlite-storage it shouldn't be so hard. I'm going to try to do it myself, but I don't really familiar with SQLite. @ospfranco let me know if you like to collaborate on it.

[2021-07-29 11:27] ospfranco commented on #2
I thought about this when creating the library but never found sense it trying to cram json data into a sqlite db.

Relational data is not **really** compatible with simple key:value structures, you could try to raw store the string inside of sqlite rows (which is what sqlite-storage does), but then question is... what's the benefit? transactions? you will definitely not get a speed bump over simp

[2021-07-29 11:28] #2 closed

[2021-07-29 11:58] dimaportenko commented on #2
Yeah, totally makes sense for me. Thank you for your feedback. I'll take a closer look on [mmkv-storage](https://github.com/ammarahm-ed/react-native-mmkv-storage)

[2021-08-02 11:07] sallar opened #3 "Issues with reading JSON strings in SQLite rows"
Hi,

I was using `expo-sqlite` package with TypeORM package in my React Native app, and I decided to change the adapter to this package.

Everything mostly works, however some of my content are stored using `simple-json` data type in TypeORM, which uses `JSON.stringify` to store JSON data in SQLite. When reading this data from SQLite using this package, some of the content are terminated unexpecte

[2021-08-02 14:11] sallar commented on #3
This is the string that's being inserted into the table as text:

[code]

[2021-08-02 15:13] ospfranco commented on #3
Hi, tbh I don't know why it could be failing, but it should be fairly simple to fix, if you can create a reproducible example I can quickly take a look

[2021-08-02 17:10] ospfranco commented on #3
I just tested this myself (you can check the Example project in the repo, I updated it), however everything seems to be working fine... I have a small feeling this might be an encoding issue though...

As stated on the README currently strings are inserted with ASCII encoding, instead of UTF-8, which might prevent me from reproducing your issue

[2021-08-03 09:01] sallar commented on #3
Thanks @ospfranco - I used 0.1.2 and the issue was there. Let me give 0.1.3 a try and will let you know.

[2021-08-03 10:06] sallar commented on #3
Hi @ospfranco again. I tried this version, still same problem. However I figured out the problamatic character. This string:

[code]

contains a unicode character that when converted to ascii it's this: `Â`.

So you might wanna test this with your simple json example:

[code]

When you JSON.stringify this, this is the result:

[code]

And when I put that through [UTF-8 to ASCII](https://onlineutf8

[2021-08-03 10:09] ospfranco commented on #3
ok, I'll give it a try later to see if I can figure out where this is failing, thx!

[2021-08-03 10:15] sallar commented on #3
@ospfranco thanks! just tried adding some emoji in source text. it breaks it too. it malforms the resulting string that ends up in the database. these emojis for example: `🍉✨🧜🏻‍♀️` (they are not in the db at all)

[2021-08-03 10:19] ospfranco commented on #3
aha... well... I'm really not a C++ expert, this is the code that encodes from a JSI/JavaScript string to an C++ string:

[code]

Which I thought would be enough, but obviously isn't, if you can come up with a solution to correctly encode the bytes a PR is more than welcome

[2021-08-03 10:21] sallar commented on #3
Thanks Oscar for checking. I will ask around a little bit.

[2021-08-03 10:41] sallar commented on #3
@ospfranco reading from DB is fine. all unicode and emojis make it to JS safely without change. The issue is only when we're writing into DB. The more emojis you put in the original string, the more the resulting string in DB gets cut off (also happens in normal string, not only simple-json). So now I'm 100% sure the issue is the `len` calculation. :)

[2021-08-03 10:44] sallar commented on #3
Maybe something like `Graphemes` calculation would be better? How do other people handle working with UTF-8 strings in C++ and SQLite? Im sure this issue has been tackled before, because it's just a C issue (with that `len` calculation) and not a JSI/RN thing.

[2021-08-03 11:02] ospfranco commented on #3
Yeah, I basically took that snippet from some stack overflow answer :D

If you can provide me another length calculation method I'll gladly replace it (probably has to take utf-8 encoding into account)

[2021-08-03 11:15] sallar commented on #3
@ospfranco what's the easiest way to run/test the project? I can test a few other methods too. For example `sizeof cString` or `std::strlen(cString)`

wildly different results :D

<img width="1177" alt="image" src="https://user-images.githubusercontent.com/768052/128006368-7d718a0b-abb9-42ea-90a6-34c46a8d8bfa.png">

[2021-08-03 11:18] ospfranco commented on #3
if you already have a running project you can just modify the c++ files and recompile your project, that part is in the `sequel.cpp` file

[2021-08-03 12:12] sallar commented on #3
Will do `strlen` now...

[2021-08-03 12:21] sallar commented on #3
Haha fixed. `strlen` did the trick. Sending a PR.

[2021-08-03 12:44] #3 closed

[2021-08-03 12:45] sallar commented on #3
@ospfranco I can't run the android example locally. it says it can not find JSI source file:

[code]

Do I need to do anything special to make JSI work for Android?

[2021-08-03 12:47] sallar commented on #3
Oh might be my cmake?

[code]

[2021-08-03 12:48] ospfranco commented on #3
You need to use hermes for android to enable JSI I think, but please create another ticket for it

Thanks for the PR!

[2021-08-03 12:48] sallar commented on #3
Thanks a lot for releasing it! I'll create another ticket if I can't figure out the android thingie.

[2021-08-03 12:49] ospfranco commented on #3
Ah, no... there is a weird issue when running the example, the .cpp files paths are different from a node_modules installation and a direct reference... you need to add some extra `../../` to the CMakeLists file

[2021-08-03 12:50] ospfranco commented on #3
check https://github.com/ospfranco/react-native-quick-sqlite/issues/1

[2021-08-03 12:58] sallar commented on #3
@ospfranco seems like my brain has stopped working :D can't make it work

[2021-08-03 12:59] ospfranco commented on #3
it's easier if you just install `react-native-quick-sqlite` in a normal project and not the example one 😅 I'll try to fix the example project later

[2021-08-03 13:00] sallar commented on #3
@ospfranco yeah Im doing that now. the funny thing is Im using this module in Expo, but with EAS build system which allows native modules.

[2021-08-03 13:04] ospfranco commented on #3
ah... no clue about expo, the path is wrong though.

works with normal projects:

`../../../node_modules/react-native/ReactCommon/jsi/jsi/jsi.cpp`

for the example project it needs to be:

`.../node_modules/react-native/ReactCommon/jsi/jsi/jsi.cpp`

[2021-08-03 13:05] sallar commented on #3
@ospfranco oh no I just mentioned the expo so you know where it's being used :D nothing to do with the error.

Thanks I'll try that change now in the example project

[2021-08-14 15:07] EduFrazao opened #5 "Concurrent use with react-native-sqlite-storage?"
Hi. Thank you very mutch this nice project!
Today my project is dependent of react-native-sqlite-storage, and use some features like sqlBatch and transactions.
Its fine for the majority of the workload, but I have some specific scenarios where I need to bulk insert many rows (sometimes more than 500k) and even using transactions or batch inserts, this takes a long time, sometimes more than a minut

[2021-08-14 19:03] ospfranco commented on #5
I haven't tried it, you should be able to install both but no idea if SQLite will explode

[2021-08-14 20:00] EduFrazao commented on #5
LOL. Maybe I can open it as a readonly attached database on react-native-sqlite-storage and use your low level API to manipulate this heavy data (its very specific).

But right now, i'm figuring out in how to use it with TypeScript. I can't import the types. There is such examples? I only found examples using TypeORM.

Do you have any plans to add to low level API, features like transactions?
Than

[2021-08-15 06:12] ospfranco commented on #5
So, here are some pointers that might help you:

- The stub for attaching to the database: [C++ side](https://github.com/ospfranco/react-native-quick-sqlite/blob/main/cpp/sequel.cpp#L134), the [JSI function definition](https://github.com/ospfranco/react-native-quick-sqlite/blob/main/cpp/react-native-quick-sqlite.cpp#L81) and [registering on the JS side](https://github.com/ospfranco/react-native-qu

[2021-08-15 07:01] ospfranco commented on #5
Just confirmed the types are mangled, there doesn't seem to be a way to declare global variables from a library index.d.ts, I'll try to fix it

[2021-08-16 14:28] EduFrazao commented on #5
Thank you very mutch @ospfranco . I Will proceed with more tests this week.
Can I do a "off-topic" question? We do heavy use of browser debugger, to inspect code in specific moments, etc.
As it is not possible with this plugin installed on project, do you suggest the use of Flipper. Do you know if its possible to inspect code on it? I did't find any way to do that. Thank you. I will close this bug

[2021-08-16 14:31] ospfranco commented on #5
yep, flipper works just fine! it's even better than the browser debugger console, since it connects to the device (so you don't get different behavior from hermes and the browser JS engine) and there are more and more specific plugins built for it every day... that being said I think there is a way to enable browser debugging for hermes nowadays but I didn't look into it, I just remember seeing a

[2021-08-16 14:31] #5 closed

[2021-08-24 13:31] likern opened #7 "After upgrade to react-native-quick-sqlite queries stopped working"
After upgrading to `react-native-quick-sqlite` my queries stopped working. I think the reason is similar to https://github.com/typeorm/typeorm/issues/5564.
I'm investigating error.

https://user-images.githubusercontent.com/842306/130624876-633907e4-edb0-43bb-aa95-ebcd22d63986.mp4

[2021-08-24 13:46] ospfranco commented on #7
This is a problem with TypeORM and not with this library, I just take whatever javascript is sent, cast/convert to the correct C++ type and pass it to SQLite

https://github.com/ospfranco/react-native-quick-sqlite/blob/main/cpp/sequel.cpp#L198

[2021-08-24 19:28] #7 closed

[2021-10-01 19:39] zzorba opened #9 "Setting location to match react-native-sqlite-storage"
i'm trying to move from `react-native-sqlite-storage` to this library, and have run into an issue with trying to get the system to open the existing sqlite database.

I'm using typeorm with the 'default' location, but I believe `react-native-sqlite-storage` controls the database location.

i've managed to locate the database 'location' on android ("../databases"), however I can't figure out who to

[2021-10-02 07:21] ospfranco commented on #9
Hey, yes, indeed, the default location for the databases is on the `databases` folder in the user directory, you can however navigate out of this directory by modifying the path you pass when initializing the connection:

[code]

[2021-10-02 17:06] #9 closed

[2021-10-02 19:40] nikgraf opened #10 "Support for sqlcipher"
Would you consider adding support for sqlcipher?

For the other projects there are forks, but would be great to have it in a lib that actively supports it.

My resource so far:

- https://github.com/andpor/react-native-sqlite-storage
  - Fork: this seems to be the best https://github.com/linchenhuicn/react-native-sqlcipher
  - Fork: https://github.com/axsy-dev/react-native-sqlcipher-storage
- http

[2021-10-03 03:17] ospfranco commented on #10
I have no idea how to enable or do SQLCipher :)

PRs are more than welcome though, will gladly review and merge any contribution

[2021-10-03 17:56] ospfranco commented on #10
Ok, I've read a bit and SQLCipher is a fork of SQLite right? well... to be honest, I learned the bare minimum to get SQLite running, so TBH I will not really spend my time adding support for a fork

That being said, someone already asked for encryption support, so I can see it is valuable, so if you or someone else decides to give it a go, I will gladly support the integration effort

On the other

[2021-10-13 23:24] andymatuschak opened #11 "Feature request: support BLOBs?"
I wonder if you'd be willing to add support for BLOB-typed columns, e.g. by bridging to `ArrayBuffer`?

See e.g. how `react-native-leveldb` implemented support for no-copy binary data: https://github.com/greentriangle/react-native-leveldb/blob/master/cpp/react-native-leveldb.cpp

[2021-10-14 10:45] ospfranco commented on #11
PRs are welcome, since you already have the JSI code, you might only need to adjust it for the SQLite response

[2021-10-15 17:56] #11 closed, assigned to nobody

[2021-10-20 19:50] nikgraf opened #13 "Transaction support?"
I was checking out the API, but seems like transactions are not supported. Do you have plans to add them?

[2021-11-16 17:26] sallar opened #14 "Exceptions cause app to crash on Android"
When exceptions happen on Android, the entire app crashes with an error like this in logcat. `react-native-sqlite-storage` and `expo-sqlite` show the error in the app instead. An example of a query that crashes the app is `upsert` operations.

[code]

[2021-11-16 18:43] ospfranco commented on #14
Could you create a simple reproducible example to debug the issue?

[2021-11-16 19:41] sallar commented on #14
Hey @ospfranco
I reproduced the example here:
https://github.com/sallar/react-native-quick-sqlite ([commit](https://github.com/sallar/react-native-quick-sqlite/commit/cc9197df17c10b00645f4d1b432867477653902c))

There's a button. If you click on it a wrong query will be executed. instead of throwing syntax error, the app crashes and exists:

![image](https://user-images.githubusercontent.com/768052

[2021-11-17 09:57] ospfranco commented on #14
coolio, thanks! I'll try to find some time to take a look

[2021-11-26 21:51] ospfranco commented on #14
I did some exploratory logging/debugging, looks like the issue could be that the library throws an Error when a non-valid sql statement is passed, and typeorm is expecting not a throwable, but another response, which response? I don't know yet... I need to figure out this SQliteResult type from sqlite-storage and try to figure out what it does

https://github.com/andpor/react-native-sqlite-storage

[2021-11-27 07:00] ospfranco commented on #14
Just tried not throwing an error and the app does not crash anymore, but will require a major update to the API, apparently a status field is expected in the responses and on error the package won't throw Errors anymore

[2021-11-27 08:11] ospfranco commented on #14
ok, converted the response and bumped the package version (is not released yet), @sallar can you try the latest version on main branch and let me know if you find anything wrong?

[2021-11-29 17:42] sallar commented on #14
Thanks @ospfranco - will check in a bit

[2021-12-01 12:39] sallar commented on #14
@ospfranco I can confirm that the error no longer causes the app to crash! Thank you. I have updated my repo with your changes and it works as expected.

![image](https://user-images.githubusercontent.com/768052/144235873-ea7e6a31-2906-4b0e-94a1-3b3296f3a2ac.png)

[2021-12-01 17:10] ospfranco commented on #14
coolio, will release the new version

[2021-12-01 17:11] #14 closed

[2021-12-01 17:12] ospfranco commented on #10
After thinking about this a bit more, tbh, I won't support a sqlite branch, I barely maintain the current package as it is, therefore I think it is better to fork the repo if you want another sqlite version supported

[2021-12-01 17:12] #10 closed

[2021-12-06 10:15] likern opened #15 "Update SQLite to 3.37.0"
Hello 👋 Could we update SQLite to 3.37.0 version? Seems it has some new features (strict mode) and in anyway quite cool to have the latest version.

I don't create PR for security reasons. But if any will be willing to do so.

[2022-01-20 21:13] vinnybad opened #16 "Integer Overflow During Type Conversions"
I encountered an integer overflow for `INTEGER(8)` (8-byte ints) during type conversions. Here's a code sample showing the error:

[code]

For the functions `executeSql` and `openDb`: they are promise versions of the functions that exist in react-native-quick-sqlite:

[code]

The output of `reproError` is:

[code]

So the value `1588399753901` can be inserted properly in sqlite in INTEGER(8) form,

[2022-01-20 21:37] vinnybad commented on #16
I see it happens here: https://github.com/ospfranco/react-native-quick-sqlite/blob/main/cpp/sequel.cpp#L309

We're using `sqlite3_column_int`, which is for a 32-bit int. Any objections to changing it to a 64 bit int?

Some options:
* Option 1: Keep the status quo (requires string conversion and parsing on client -- not ideal)
* Option 2: Detect the size of data somehow and use `sqlite3_column_int`

[2022-01-21 10:58] ospfranco commented on #16
I'm not sure I completely understand the change but it sounds dangerous, since javascript stores all numbers as 64 bit floats, I would gladly merge the PR, but only if there are tests that verify that nothing breaks

[2022-01-21 11:13] vinnybad commented on #16
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Numbers_and_dates

in short, we can only represent 53-but integers in JS. All numbers are represented this way, including the int32 that’s being sent today.

Enabling this change only increases the possible range of representable numbers when selecting information and does not introduce risk.

[2022-01-21 14:29] ospfranco commented on #16
[sqlite-storage seems to be using int64 here](https://github.com/andpor/react-native-sqlite-storage/blob/master/platforms/ios/SQLite.m#L536)

The problem I see is that you are assuming that all the databases that you might feed into the package are going to come from this library and JS, casting an int as double might throw garbage if you try to load a sqlite3 database where the bytes are truly me

[2022-01-21 17:41] romanakash opened #18 "Low level api doc is different from code"
The readme has the following api

[code]

While the code has this api

[code]
Would it be possible to add the error and message fields to the code like in the readme?

[2022-01-21 18:45] vinnybad commented on #16
@ospfranco there is no way to send a `int64_t` in a `js::Value`. Changing the `double` to an `int64_t` leads to a compile error because there's no constructor in `js::Value` that accepts an `int64_t`.

[2022-01-21 18:57] ospfranco commented on #18
I just forgot to update the typescript definitions, feel free to open a PR, shouldn't be to hard to update them

[2022-01-21 19:09] vinnybad commented on #16
@ospfranco -- cool, I've updated the PR. Thanks!

[2022-01-21 19:11] #16 closed

[2022-01-22 16:54] sergeymild opened #19 "Background exec?"
I see you have but commented background method. Why did you comment it? Because if you have to get large piece of data it will block js thread.

[2022-01-22 16:55] ospfranco commented on #19
the way I implemented is not working, C++ background/threads and JS communication is more complex and I don't have the time to look into it, if you are willing to tackle and copy functionality from other JSI libraries feel free to open a PR

[2022-01-23 12:31] HenrikZabel opened #20 "Missing Docs"
After failing to install WatermelonDB, realm or using react-native-mmkv I wanted to start using react-native-quick-sqlite because I hope it'll be faster than every other sql library for react native out there. But when I wanted to start I searched for the Docs. Are there any docs? And if yes where can I find them. Docs would be really helpful haha

[2022-01-23 16:28] ospfranco commented on #20
The readme is all the docs you need, there is nothing more to it, this module is quite low-level on it's won, but if you read the README it is recommended to use TypeORM (also with instructions in the README)

[2022-01-23 16:28] #20 closed

[2022-01-23 16:28] #19 closed

[2022-02-22 22:43] EduFrazao opened #21 "Large operations are causing UI Freeze"
Hi! I'm using quick sqlite version 2.0.1, and sometimes when I need to persist some large datasets here, my UI completely freezes.
Using perf monitor, I can see that UI FPS keeps 60FPS, but JS shows "-2.1".

I ran this commands inside a BEGIN TRANSATION and COMMIT statements, and some transactions inserts 100k records.
This lib is so fast, that this rows takes only 8 seconds to be persisted.

As f

[2022-02-23 07:20] ospfranco commented on #21
You need to explain your problem in more detail, including some code. From what I understand you are using the low-level API and executing raw SQL queries, right?

You might be misunderstanding how the JSI bridge works. JSI calls (at least the ones I implemented) even though quite fast are sync, therefore if you call a javascript/JSI function 100k times (which I assume is what you are doing to ins

[2022-02-23 11:27] EduFrazao commented on #21
Hi @ospfranco . Thank you for your answer..
Yes, i'm using the low level API, behind a Facade Service. This services holds a reference to a IDBConnection object, that I receive when I use the openDatabase exported function.

So, basically I run a BEGIN TRASACTION statement, iterate over 100k rows that issues updates/inserts and latter I run a COMMIT;

This very large operations are very specific.

[2022-02-23 13:14] ospfranco commented on #21
You got the gist of it correctly, but just to make it clear: JSI calls are **sync**, it doesn't matter if you wrap them in promises, if you have such a large batch of data you won't be able to do it any faster with the current implementation, because it will still freeze the javascript thread while waiting for C++ to process your data.

**What you need in order to get this working smoothly is** is

[2022-02-23 13:48] EduFrazao commented on #21
I understand. Thank you @ospfranco . I will see what I can do about it.
I will try to work on it and if it works in my project I will submit a PR.

[2022-02-23 13:48] #21 closed

[2022-02-24 08:03] sergeymild commented on #21
i would be awesome if you make it)

[2022-02-24 08:23] #15 closed

[2022-02-24 08:36] ospfranco commented on #18
Documentation has been updated

[2022-02-24 08:36] #18 closed

[2022-03-17 11:19] z0al commented on #13
Is the new `executeSqlBatch` equivalent  transactions?

[2022-03-17 11:20] ospfranco commented on #13
yes, internally it is using transactions

[2022-04-08 14:36] HaydenPWoods opened #37 "Support for SQLite Compile-Time Options?"
Looking at this library as a replacement for react-native-sqlite-storage in a project I'm working on and first impressions are great.

I've got requirements for enabling FTS5 and Geopoly extensions. This seems possible with this library as opposed to RNSS since the SQLite source is compiled from /cpp for both iOS and Android, instead of using the phone's SQLite. Is there any method of setting comp

[2022-04-08 15:22] ospfranco commented on #37
That's an interesting use case, but no, I have never tried modifying the compilation behavior of the embedded SQLite source.

Indeed you can try setting flags on the CMakeLists and for iOS I would assume you need to set them somewhere on the XCode build settings.

[2022-04-08 15:46] ospfranco commented on #37
Arent those flags global though? You can try first setting them globally in your environment to see if that works. Then try to figure out how to enable them in a specific project only.

[2022-04-08 16:23] HaydenPWoods commented on #37
Thanks for the quick reply, and happy to hear that you think it's a possibility at least. I didn't know that these flags could be set globally, so I'll give that a shot to see if I can add any extensions at all. Global flags might be good enough for me for now, but I'll leave a comment here if I can get the flags working for the build scripts.

[2022-04-08 16:25] ospfranco commented on #37
Ah, no they are not global variables.

https://www.sqlite.org/geopoly.html

In any case, no idea tbh. You will have to play around and see what works, try it on the CMakeLists cxx flags, maybe that will work.

[2022-04-08 16:44] HaydenPWoods commented on #37
That's a shame (it would almost be too convenient..!). No worries, and thanks for the guidance - I'll close this issue for now whilst I look into it further, and I'll note it here if I have any success.

[2022-04-08 16:44] #37 closed

[2022-04-08 16:54] ospfranco commented on #37
At least on iOS/macOS here is where I set additional compilation flags. In this case for Swift compilation. But you should be able to add further flags for CLang compilation.

<img width="1002" alt="Screenshot 000176" src="https://user-images.githubusercontent.com/1634213/162487219-ce2108b5-3df2-4c46-81c8-a3a293801d6d.png">

Best of luck trying to make it work.

[2022-04-29 02:06] craftzdog opened #39 "`openDatabase` API is not compatible with sqlite-2 or sqlite-storage"
Hi Oscar,

The readme says it's compatible with those two libraries but looks like not.
The signature of `openDatabase` should be `openDatabase(name, version, description, size, onSuccess, onError)`
Is that intended?

It's not a big issue as it can be avoided by making a simple wrapper function.

[2022-04-29 04:40] ospfranco commented on #39
Hi Takuya! Yeah, I think you are right, I actually made it compatible with TypeORM first, which in theory uses the now-defunct WebSQL specification. But like you said I can create a simple wrapper function.

I will take a look into it today (and also transactions)

[2022-04-29 04:41] craftzdog commented on #39
Hold on, I'm working on making WebSQL wrapper module now :)

[2022-04-29 06:50] craftzdog commented on #39
Published 🎉 https://github.com/craftzdog/react-native-quick-websql

[2022-04-29 06:50] #39 closed

[2022-04-29 15:24] EduFrazao opened #40 "Doubt: Close connections on Destroy"
Hi. I have a doubt: QuickSQLite should automatically close opened connections when the application gets detroyed?
As far as I know its not possible to react to this events from ReactNative JavaScript side, and its recommend to keep SQLite databases opened for the entire lifecicle of the application.
In this case, should this library hook native application destroy events to close this connections?

[2022-04-29 16:44] ospfranco commented on #40
Not sure if I understand this correctly or if this is really an issue. If the application is killed then nothing is running, including SQLite (since it is embedded within the app process).

Did you do some testing and when/if you kill the app is there some dangling connection?

[2022-04-29 18:58] EduFrazao commented on #40
In fact I'm just wondering I must close the sqlite3* object in order to avoid any problem with database not flushing data or something like that. But i'm reading the SQLIte3 close method source, and looks like that SQLite does not even holds file handlers per connection. Looks like the database file is opened only during transactions. The close method only rollback running transactions and mark th

[2022-04-30 14:50] ospfranco commented on #40
ah, you mean the app is killed and there is an ongoing transaction/operation. Well, none of the previous implementations did anything to handle this case, so it seems like too much of an edge case. So I think I would just ignore it for now until someone complains. It can also be handled in the user space by manually closing the connection with some hook on the react side or something.

[2022-04-30 14:50] #40 closed

[2022-04-30 14:55] ospfranco commented on #13
Time to stop being lazy and implement transactions for real. Anyone has any idea how to do it? 😁 the ones from sqlite-storage look mighty complex.

[2022-04-30 14:55] ospfranco commented on #13
@EduFrazao the executeSqlBatch does everything on the native side, but a generic callback on the javascript makes sense right?

[2022-04-30 16:41] EduFrazao commented on #13
Today, executeSqlBatch dispatch a bunch of commands inside a implicit transaction, and returns the status and affected rows. Its async counterpart does the same thing in another thread and invokes a callback do dispatch the result.

What is your idea about a generic callback? I think I don't get the idea.

About a transaction API, I have some doubts too:

 -- Maybe a transacion object with a mutex

[2022-04-30 16:42] EduFrazao commented on #40
I agree! Thanks for your answer.

[2022-04-30 16:54] ospfranco commented on #13
This is what react-native-sqlite-storage (and other packages) offer for transactions:

<img width="826" alt="Screenshot 000328" src="https://user-images.githubusercontent.com/1634213/166114815-b4628aa8-cf98-4e81-b288-2b6637baa2fa.png">

I know that executeSqlBatch does the internal transaction, but it's non-standard from what I see. You might also want to do javascript logic inside of a transactio

[2022-04-30 17:19] EduFrazao commented on #13
I think that the only benefit of having transaction support in the JavaScript side (besides the more semantic code) is to able to collect data from the transaction context, that is somehow impossible today. If you run a statement, that fires a trigger that changes anything, you will not be able to fetch this data inside the transaction scope and even rollback based of this data for example. So yes

[2022-04-30 17:21] ospfranco commented on #13
I do understand that you have very large transactions, but I believe you are in the minority here, and you can always fallback to the existing async methods. Whereas this is generally applicable to most apps I believe. So I would go for it.

[2022-04-30 17:23] EduFrazao commented on #13
Sure.. Do you want to start the work for a synchronized transaction support, and later try to work on the async counterpart? I will like to contribute of course :)

[2022-04-30 17:26] ospfranco commented on #13
yeah, I would like to give it a try. But I'm not sure where/how to start. The sqlite-storage approach looks simple(ish) on the surface... I'll try to replicate it and see how far I get

[2022-04-30 17:35] EduFrazao commented on #13
I think that its a good start, even more because this library aims to be sqlite-storage compatible.
Do you think that we can enhance the API keeping the it compatible, like inserting a silent rollback method?
And what about the mutexes? Maybe share a single instance of it for any sql execution, as now we have async work being done on the same sqlite3 object in different threads?

[2022-04-30 18:04] ospfranco commented on #13
- I haven't taken a look into rollbacks yet, but can you explain a bit what do you mean?
- sqlite-storage has per db mutex, I think that makes sense

[2022-05-02 21:00] EduFrazao commented on #13
Its only a API to request a silent rollback on the transaction callback code. But you already done that, asking for a boolean return to commit or not the API. :)
Thanks!

[2022-05-03 05:12] #13 closed

[2022-05-03 05:19] ospfranco opened #43 "JS async transactions"
Transactions are now supported in the sync version, an async version still needs to be done. I'm guessing it will need to be promise-based, which doesn't quite fit with our callback async calls.

Option a: dump the responsibility of promisifying the responsibilities to the user, and just rollback the transaction on reject.
Option b: migrate or create yet another version of the async callbacks to r

[2022-05-06 10:40] gillpeacegood opened #45 "Performance Metrics"
It would help me to decide whether to migrate to this module if there was some performance comparison metrics with the other modules in the space (react-native-sqlite-storage for eg)

I don't doubt its faster though and its great work you've done

[2022-05-10 13:39] LaGregance opened #46 "Enable JSON1 on Android"
Hi,
Is there a way to enable JSON1 module for Android in order to use json_extract in SQL queries ?

This also can be a good point about the cross-platform compatibility since iOS manage it already.
Thanks for help.

[2022-05-10 17:09] EduFrazao commented on #46
Hi. Its default enable on SQLite 3.38.x.
Did you have any problems?

[2022-05-13 08:29] gillpeacegood opened #47 "Add delete to index.tsx"
Would be useful to have it as part of formal API

[2022-05-13 10:19] ospfranco commented on #47
you mean delete db?

[2022-05-13 11:02] gillpeacegood commented on #47
yep sorry should have been clearer

[2022-05-14 19:49] aguycalled opened #48 "open fails with undefined location"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-quick-sqlite@3.1.1` for the project I'm working on.

`location` is an optional parameter, but `sqlite.open` fails when `location` is undefined. This patch falls back to an empty string in that case.

Here is the diff that solved my problem:

[code]

<

[2022-05-14 20:18] ospfranco commented on #48
Thanks for noticing, I just published version 3.1.2 that fixes it on the native side

[2022-05-14 20:18] #48 closed

[2022-05-14 20:21] aguycalled opened #49 "Not compatible with indexeddbshim"
I'm not sure what is the standard way of doing it, but the current implementation is not compatible with `indexeddbshim`.

In order to make it work, `openDatabase` needs to return the connection:

[code]

[2022-05-14 20:23] ospfranco commented on #47
Added the delete function and also fixed missing location param. It's available under 3.1.3

[2022-05-14 20:23] #47 closed

[2022-05-14 20:27] ospfranco commented on #49
I don't know what `indexeddbshim` is, this wrapper was meant for TypeORM, some people seem to like it more than the pure functions, but I wouldn't really recommend it.

It does look like you could solve this by just creating your own wrapper function?

[2022-05-14 20:27] ospfranco commented on #46
@LaGregance please respond, otherwise I will just close the issue

[2022-05-14 20:30] ospfranco commented on #45
As stated, performance metrics are tricky and one can fall into micro benchmarking and effectively prove nothing, for example:

https://twitter.com/thymikee/status/1524692561671110659

As stated, the benefit of the JSI is very clear when transmitting large amounts of data between the native side and JS. How much will depend on each application.  I don't think it will help anyone to do bombastic cl

[2022-05-14 20:30] #45 closed

[2022-05-15 06:57] ospfranco commented on #49
Thought about this some more, I guess there is no harm in returning the object itself, if you open a PR I'll gladly merge it

[2022-05-15 07:09] #49 closed

[2022-05-15 10:11] LaGregance commented on #46
Sorry for the delay. I've give up using this lib because I'm not able to use it with typeorm. We can close this issue.
FYI, I've found a way to use JSON1 & Typeorm with react-native-sqlite-storage :
https://stackoverflow.com/questions/72178612/making-typeorm-use-react-native-sqlite-2-on-react-native-to-use-json1

[2022-05-15 10:11] #46 closed

[2022-05-15 15:24] ospfranco commented on #46
@EduFrazao it seems like people are really keen on compiling SQLite with all these extra extensions and plugins. Maybe there was a way for @LaGregance to make it work, but it seems useful to document the process of enabling plugins manually. Have you tried this yourself? Anyway to pass parameters when compiling SQLite?

[2022-05-16 12:35] EduFrazao commented on #46
Hi @ospfranco . The only extension I need today is JSON1, and its default enabled on SQLite 3.38.x. I'm using it right now. But let me try this weekend with another extensions.

On Android I belive that this can be done passing custom cmake arguments: https://developer.android.com/reference/tools/gradle-api/4.2/com/android/build/api/dsl/ExternalNativeCmakeOptions

But I need to check how to this w

[2022-05-16 13:17] ospfranco commented on #46
So JSON1 is working on Android? weird... but yeah, just documenting how to pass arguments would already be useful

[2022-05-16 13:43] LaGregance commented on #46
I agree, I don't know where I need to pass these arguments too, especially in a react app.
But as I say in my previous post you can use JSON1 on android with react-native-sqlite-storage by editing you `react-native.config.js` (https://www.npmjs.com/package/react-native-sqlite-storage#user-content-how-to-use-android)

@EduFrazao For iOS it's seems the default SQLite version already load JSON1 (but

[2022-05-16 13:44] EduFrazao commented on #46
Yes, tested on Android and IOS. This extension becomes default enabled since SQLite 3.38.0.

https://www.sqlite.org/releaselog/3_38_0.html

`
The JSON functions are now built-ins. It is no longer necessary to use the [-DSQLITE_ENABLE_JSON1](https://www.sqlite.org/compile.html#enable_json1) compile-time option to enable JSON support. JSON is on by default. Disable the JSON interface using the new [

[2022-05-16 13:45] EduFrazao commented on #46
What errors did you have using json_extract on Android?
I use this function in several querys here.

[2022-05-16 19:21] LaGregance commented on #46
Yes I know, but as I said before I've finally used `react-native-sqlite-storage`, with this package you can chose to use the default SQLite bundle (without JSON1) or the bundle from the lib (more recent, with JSON1), in my case this solution is perfect (JSON1 + typeorm).
For some reason I was not able to use the Typeorm patch with `react-native-quick-slite` : incomprehensible error, differing from

[2022-05-16 21:54] EduFrazao commented on #46
I understand. Thank you for your detailed answer.

@ospfranco Can I open a issue to upgrade the TypeORM patch to last version?

[2022-05-17 04:45] ospfranco commented on #46
I'm thinking about what to do, the problem with the patch is that it will get out of sync every time. The patch is also very simple (replaces two strings) but I can already see people don't look inside of it. Ideally submitting a PR to TypeORM is the way to go, but I already tried it and they want tests to be added to each driver, but the codebase is huge and they take months to reply.

I think it

[2022-05-17 04:57] ospfranco commented on #46
Everything is working fine for me, so going to leave this issue closed and create another two, one for the TypeORM instructions and another for exploring the usage of the phone's embedded SQLite (really useful to keep binary size down).

<img width="1335" alt="Screenshot 000487" src="https://user-images.githubusercontent.com/1634213/168732243-f2f78c26-5bd8-4f13-bfe0-0701ff18e8be.png">

[2022-05-17 05:02] ospfranco opened #51 "Ability to use phone's SQLite database"
Currently, we compile and embed our own SQLite source. This is great because we always get to use the latest version and skip any device-dependent errors. However, the downside is that it increases the binary size quite a bit (~9mbs). It would be great to give the users the capability to use the phone's SQLite db. For simple use cases, it will be enough and will reduce the app size.

[2022-05-17 05:04] ospfranco opened #52 "Get rid of TypeORM patch"
The patch constantly gets out of sync as TypeORM releases newer versions. The long term solution is of course to add quick-sqlite support to TypeORM, but the maintainers take months to reply and also want each PR to be perfect, but to do so (add tests for example) one needs to be familiar with the TypeORM codebase which is huge (and also PRs get out of sync constantly due to the huge wait time).

[2022-05-25 06:20] ospfranco commented on #51
Apparently Android doesn't "really" allow you to bind to SQLite from C++. Even with the Java bindings there seems to be **A LOT** of bugs, ranging from Android deleting databases to vendors messing up the implementations (see this [hacker news thread](https://news.ycombinator.com/item?id=13498611)).

Every one seems to agree embedding your own SQLite is the best idea even if it comes at the cost o

[2022-05-25 19:11] ospfranco commented on #51
I tried this approach, and managed to extract a .so from a phone

https://blog.katastros.com/a?ID=00200-fd6cd935-b779-4f44-9b4c-efad582167e1

But it looks like the .so does not link against all architectures? Not really sure how this whole thing is supposed to work. It also looks/feel very brittle... I keep finding more and more info online saying that starting on Android N Google has disallowed l

[2022-05-26 05:12] #51 closed

[2022-05-26 05:30] ospfranco commented on #52
Modified the instructions for the patch. Hopefully people will understand that generating a package on their own takes a minute at most.

[2022-05-26 05:30] #52 closed

[2022-05-31 14:52] likern opened #54 "Doesn't work with typeorm 0.3.0 and above"
It would be awesome to have such support!

[2022-05-31 15:25] likern commented on #54
[code]

[2022-05-31 15:43] likern commented on #54
This happens when I try to initialize database for the first time, I think it's inside `.initialize()` call.

![Снимок экрана от 2022-05-31 18-40-38](https://user-images.githubusercontent.com/842306/171214083-679905a9-8e91-4065-b6b8-8c60c2fa8adb.png)

When Hermes is on (doesn't show line where error happened)
[code]

When Hermes is off
[code]
Line where error is happened
![Снимок экрана от 2022-05

[2022-05-31 15:46] likern commented on #54
This is my error I catch (which propogates errors from sqlite)
![Screenshot_2022-05-31-18-24-16-066_com breeffy feeve](https://user-images.githubusercontent.com/842306/171214922-d5a14f16-f1c1-4e16-a2d3-a1d620a40742.jpg)

[2022-06-01 04:57] ospfranco commented on #54
From what I can see type ORM 0.3.x is a major change, I'm trying to get it to work from scratch but getting a slew of other errors, which I don't think have anything to do with this package. In any case, if you can provide a reproducible example that deals with a simple instantiation it would be better, because I don't understand your code from the small snippets that I see

[2022-06-01 05:40] ospfranco commented on #54
It seems the warning is harmless (somehow? still confusing)

The biggest problem seems to be TypeORM ReactNative driver fails to resolve some internal dependency... no idea why. Maybe the latest version makes it incompatible with yarn or metro

![Screenshot 000555](https://user-images.githubusercontent.com/1634213/171335323-1c8733a0-97c5-46d2-9372-39b471a61b5b.png)

[2022-06-01 08:59] ospfranco commented on #54
Seems TypeORM now always require some array result to be there even if the query has failed.

I've published a new version (3.1.7) can you check if it fixes the issue for you? I updated the example project and there it is working fine.

[2022-06-01 13:03] likern commented on #54
Thanks! I've tested and it works. No more this error. Other app functionality seems work.

[2022-06-01 14:17] ospfranco commented on #54
nice!

[2022-06-01 14:17] #54 closed

[2022-06-04 18:36] ClickyCrispp opened #56 "Can't load from preloaded sqlite file"
Hi,

Firstly I just want to say thanks for making this package, it is very useful. I appreciate the effort you've put into this.

I am trying to connect to a preloaded sqlite file, being stored in android `src/main/assets/data/db.sqlite`

I have tried to open the database like this, but it doesn't show any tables exist (probably because it's not working as expected)... I'm on android 12

Is this s

[2022-06-04 19:42] ClickyCrispp opened #57 "Support promise api out of the box"
I think that in this day and age it would be useful to support promises, since that is what people mostly use now for async operations like these.

Here is an example of how I was able to convert some of the async functions to promises, might be worth considering supporting this out of the box

[code]

[2022-06-05 04:44] ospfranco commented on #56
Do not use `~` that's not how the file system on mobile. By the default `.`drops you in the app document folder. If you want to load a pre-packaged sqlite file... you will have to navigate somehow to it, but the path might change depending on vendor implementation? not sure... you will have to try it your self

[2022-06-05 04:45] ospfranco commented on #57
We went through a lot of effort implementing async functionality, promises make for nice syntactic but as you have discovered yourself it can be easily achieved with minimal code. I might add them in the future but they are not vital to use the package

[2022-06-05 04:45] #57 closed

[2022-06-16 03:30] alpha0010 opened #59 "Avoid global scope"
The term `sqlite` is sufficiently common as to be inconvenient (for me) to be taken globally.  It would be nice if I could `import {sqlite as myOtherSqlite} from 'react-native-quick-sqlite';`.

Potentially register global object (that is what you need for JSI, yes?) as `rnQuickSqlite`, which no one else is likely to use, and `export const sqlite = rnQuickSqlite;` for named imports from this lib.

[2022-06-16 06:37] ospfranco commented on #59
Why exactly is inconvenient for you? can you paste some sample code?

[2022-06-16 06:40] ospfranco commented on #59
You can also move the object to w/e you want, it doesn't need to be tied to the global scope, something like the following might work:

[code]

[2022-06-20 09:46] ospfranco commented on #56
No feedback from the author. Going to close this, but as stated, the entire file navigation works relative to the app documents folder.

[2022-06-20 12:33] alpha0010 commented on #59
2. Code review tends to be done through web interface, so vscode (or similar) is not available.

Thanks; I suppose unless you are also making other breaking changes, it does not really make sense to change API just for this. Well, up to you if you decide to change entry point in the future.

[2022-06-21 19:28] savv commented on #59
For what it's worth, I also found the global scope a bit awkward...
I would have expected sqlite.open() to return a class, with methods like executeSql. This object should internally then just pass the db name to the JSI methods, rather than exposing this detail to the user.

[sql-js](https://github.com/sql-js/sql.js/)'s Api would be a good one to copy. I have done something similar for our DB API

[2022-06-21 20:22] savv commented on #37
Enabling the various sqlite extensions seems like a common enough feature and part of what makes sqlite great to use.

Would it be worth reopening this and figuring out how to make it easy?

[2022-06-22 06:25] ospfranco commented on #37
Have you tried changing the xcode settings I posted?

[2022-06-22 06:26] ospfranco commented on #59
`open` does not return an object, but openDb which was meant to be used by TypeORM, I can see however this is causing issues for you. I'll try to refactor it, but I'm short on time at the moment, PRs are welcome.

[2022-06-22 06:30] savv commented on #37
Thanks, I am planning to try it in the next few days. What about Android?

For me, "making it easy" means that this is documented somewhere, which then also implies long term support.

[2022-06-22 06:54] savv commented on #37
Hi Oscar, understood, I didn't mean to suggest that you need to work on it with any urgency (nor that it has to be you) - I was merely stating that we should keep this issue open because it's a useful one, as well as what I meant.

Regarding cmakelists, it's not obvious to me how to inject options there without forking the library and setting them inside of the forked version.

[2022-06-22 07:01] savv commented on #59
I see, I had missed that function. That is what I meant, thanks.

[2022-06-22 08:25] ospfranco commented on #37
https://github.com/ds300/patch-package

[2022-06-28 06:57] ospfranco commented on #59
that is not because of the global scope, but some other issue with the module initialization, I haven't been able to figure out why.

[2022-06-28 16:54] amhed opened #61 "TypeORM swallows up errors"
Behavior:
Using react-native-quick-sqlite as the driver for TypeORM swallows up errors and return an empty array instead

Expectation:
TypeORM should throw. Like it does with the default `react-native-sqlite-storage` implementation

Here's a quick repo that setups up the behavior
https://github.com/amhed/quick_typeorm_bug/blob/master/App.tsx

[2022-07-01 05:56] ospfranco commented on #61
Thanks for opening the issue, there is already a fix committed to main (in case you need to pull urgently). But I'm actually going to make a big refactor, but I need some time to get it done.

[2022-07-01 05:57] ospfranco commented on #59
Going to re-open this, I'm in the process of doing a big refactor and might as well take out the bindings from the global scope

[2022-07-04 13:48] ospfranco commented on #59
only with a reproducible example, I haven't been able to isolate it

[2022-07-04 17:27] ospfranco commented on #61
@amhed did you check the fix on main? do you have the same change or did you apply any other changes?

[2022-07-04 17:28] amhed commented on #61
Lemme check

[2022-07-04 17:31] amhed commented on #61
Yup! https://github.com/ospfranco/react-native-quick-sqlite/commit/e8b4f42cbdae4370b26a0c457390dbb7c31607ac is pretty similar to the patch we applied. Thanks for that

Will update instead of patching once 3.1.9 is out. Thanks again @ospfranco

[2022-07-05 05:53] #59 closed

[2022-07-05 05:54] ospfranco commented on #61
Will be released under 4.0.0, bare in mind I changed how the bindings are installed, they are still on a global object, but you are not supposed to access it directly, but rather `import {QuickSQLite} from 'react-native-quick-sqlite'`

[2022-07-05 05:54] #61 closed

[2022-07-06 18:17] danielhj1998 opened #63 "Build failed because of '/node_modules/react-native/android' more than one .aar files (Hermes & react-native)"
Hello, my project uses API level 31 with RN 0.69.1

[code]

When trying to build I get the following error:

[code]

The 183 line in the '$root/node_modules/react-native-quick-sqlite/android/build.gradle' is:

[code]

I think this happens because in the '$root/node_modules/react-native/android/com/facebook/react/' directory there are the 'react-native' and 'hermes-engine' directories which contain

[2022-07-07 05:37] craftzdog commented on #63
Maybe it could solve this: https://github.com/mrousavy/react-native-vision-camera/pull/1116

[2022-07-07 05:51] ospfranco commented on #63
That is precisely what I needed, thanks @craftzdog!

@danielhj1998 @Fagner3g the main branch is patched, can you try it and let me know if it works for you? afterward, I will publish it to npm

[2022-07-07 08:45] savv commented on #59
These seem to always happen when codepush installs its update (but not always!).

[2022-07-07 12:09] savv commented on #59
I haven't yet; do you expect that it would help? I couldn't see why after looking at the changes since 3.18. I will upgrade in the next month, and report back with the results.

[2022-07-07 14:33] #63 closed

[2022-07-20 02:49] likern opened #65 "4.0.2 build.gradle RN aar finding is broken"
Hello 👋🏻
I've tried to upgrade to `4.0.1` from `3.1.7` and got failed build.

[code]

My `android` folder has the following structure
[code]

[2022-07-20 02:55] likern commented on #65
I think it's not related to monorepo structure itself, but anyway mentioned this too.

[2022-07-20 06:00] ospfranco commented on #65
Ah, probably has something to do with the [patch for RN 0.69](https://github.com/ospfranco/react-native-quick-sqlite/commit/b4f7bec1e4db3a18f35174b97d93c1a8361bac52) that was applied last week... if you can, you update to RN 0.69+ if not, maybe I can take a look (much) later

[2022-07-25 19:38] ShivamJoker opened #66 "Unable to use a populated database file in iOS"
I am trying to use my existing DB file which I setup following the guide on [rn-sqlite page](https://github.com/andpor/react-native-sqlite-storage#step-6---adjust-opendatabase-call)

The code which I am trying to run is this, everything works fine with sqlite library

[code]

[2022-07-26 02:44] EduFrazao commented on #66
Hi @ShivamJoker
Where is your prepop.db on your project?
I belive that your database file was not found with this relative path location, and because of this, quick-sqlite created a new one.

[2022-07-26 04:39] ShivamJoker commented on #66
@EduFrazao it's inside www folder as suggested in the docs of sqlite

[code]

[2022-07-26 07:13] ospfranco commented on #66
quick-sqlite is compatible with the other libraries but it is not the same, the base directory is the app's home directory, not any www subdirectory, you will have to pass the correct path, probably something like `./www/[your path]` if you want to keep it like you have it right now

[2022-07-26 07:14] ShivamJoker commented on #66
@ospfranco how do I find the path of the file?

[2022-07-26 07:39] ShivamJoker commented on #66
Also where can I put the db file to make it simple to work with in both devices?

[2022-07-26 07:50] ShivamJoker commented on #66
I put the .db file in Documents folder and checked if it exists or not using fs
But it's giving me this error now
[code]

[2022-07-26 07:59] ospfranco commented on #66
@EduFrazao you have more experience loading files, can you clarify if the extension is needed and how did you achieve it?

[2022-07-26 08:00] #43 closed

[2022-07-26 08:09] robinsoncol opened #68 "Database files are installed in odd location"
Hello, I noticed that react-native-quick-sqlite installs database files under `/data/data/<app-name>/files/databases` when I call `QuickSQLite.open('myDatabase', 'databases')`. Is this behavior expected? The general consensus is that database files should live under `/data/data/<app-name>/databases`.

I experienced this behavior both on a physical Android device and in a virtual device.

[2022-07-26 08:36] ospfranco commented on #68
I didn't take a look into which location is "recommended" by android, I just took the document path:

https://github.com/ospfranco/react-native-quick-sqlite/blob/main/android/src/main/java/com/reactnativequicksqlite/QuickSQLiteBridge.java#L16

At this point I will not change it, to prevent apps already using the package from breaking, seems minor point to me, if you want to put it in the `<app-nam

[2022-07-26 08:36] #68 closed

[2022-07-26 11:50] EduFrazao commented on #66
@ShivamJoker the loadSQLFile method is designed to load a SQL DUMP. It will not work with a SQLite database file. This method expects an absolute path to the dump file, and will load it in a transaction with minimum memory consumption.
I don't load any resources that is shipped inside my apps, in general, I download this patches and apply them when needed.

I belive that the most pratical way to p

[2022-07-26 12:44] ospfranco commented on #66
There are a lot of errors in the code posted here and this is not a problem with the library. If further questions arise, they should be posted on Stack Overflow.

[2022-07-26 12:44] #66 closed

[2022-07-26 13:46] ShivamJoker commented on #66
@ospfranco which code has issues? I have been trying to figure out how to make things work from 2 days with your library. How posting this on stackoverflow will help?

Even with the updated code like @EduFrazao suggested I am still unable to read the tables with absolute path.

[code]

[2022-07-26 13:51] EduFrazao commented on #66
Please, could you try:

[code]

[2022-07-26 14:11] ospfranco commented on #66
Your code is wrong, try edu's suggestion and read the readme carefully. Nothing wrong with the library.

[2022-07-26 14:52] ShivamJoker commented on #66
@EduFrazao I tried that already it is giving me `unable to open database file`

Attaching some screenshots so that someone can believe me

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/23727670/181038333-b8338f2a-1759-4f50-8bd2-499ab2527804.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/23727670/181038465-b0974962-8b77-4b09-88bf-b

[2022-07-26 15:09] EduFrazao commented on #66
@ospfranco I belive that the current implementation of the cpp open database method cannot handle absolute paths, as It collects the files directory on android, and documents directory on IOS, and concatenate any location with this paths.

Do you think that we can open a issue to support absolute paths?

[2022-07-26 15:13] ShivamJoker commented on #66
I think I tried the relative path as well, they didn't woem

[2022-07-26 16:39] ospfranco commented on #66
There is a reason I did not allow for absolute paths, one can crash the system if you try to access a non-sandboxed directory, not about to change that. This is not a problem with the library, he is just putting his file in a path and the documents folder is in another.

https://github.com/ospfranco/react-native-quick-sqlite/blob/main/ios/QuickSQLite.mm#L35

There is a reason as well not to use an

[2022-07-26 17:28] EduFrazao commented on #66
I understand, seems like a reasonable reason.

[2022-07-26 17:34] ShivamJoker commented on #66
It works now after moving the DB file to documents directory, not sure how to put it without using file access library.

@ospfranco only if you could have told this earlier it wouldn't have been this big of a deal. But you not sure why you decided to be rude instead of pointing me to the right path.

[2022-07-26 17:44] EduFrazao commented on #66
Only a note about moving your database file:

I belive that its the "correct" approach. You can check if it alread exists on the Library or Library/LocalDatabase on IOS or databases on Android, and if not, copy it. So you can avoid that an update on your application assets erase the user database (it its not your intention).

[2022-07-26 18:56] ospfranco commented on #66
At no point was I rude, read every single reply that I gave, I just stated facts. I even [gave the answer very early](https://github.com/ospfranco/react-native-quick-sqlite/issues/66#issuecomment-1195097155) but you did not understand it, nor did you bother to look into the code, you wanted me to solve it for you, which I refuse to do, because I don't work for you and fixing every single programme

[2022-07-26 19:12] ShivamJoker commented on #66
Anyways it would be great to mention this in Readme if someone else also wants to import an existing DB file.

I can send PR if it's too much work for you.

[2022-07-27 04:12] ospfranco commented on #66
PRs are always welcome

[2022-08-01 13:08] ospfranco commented on #65
Fixed under 4.0.3

Please do consider sponsoring! I have to take time of paid projects to fix this kind of issues

[2022-08-01 13:08] #65 closed

[2022-08-04 07:18] Daniyaalbeg opened #72 "Swapping out react-native-sqlite2 causes data to disappear"
Hi There,

Love the package and props for the awesome work!

I am just having some trouble. I have an app using react-native-sqlite2. I am using pouchdb. I swapped out react-native-sqlite2 with react-native-quick-sqlite, and used the adapter:

[react-native-quick-websql](https://github.com/craftzdog/react-native-quick-websql)

When I swapped it out (with no other change in my code) my data was not

[2022-08-04 07:22] ospfranco commented on #72
Refer to https://github.com/ospfranco/react-native-quick-sqlite/issues/66

The base paths taken by sqlite-2 and quick-sqlite are different, you need to point quick-sqlite to the correct location of your db

[2022-08-04 07:22] #72 closed

[2022-08-04 09:23] Daniyaalbeg commented on #72
Perfect, just the clarification I needed! Thanks a lot 😄

[2022-08-09 04:22] chrisdrackett opened #74 "Flipper Database support on iOS"
This isn't really an issue but more of an FYI. I made a driver for https://codeberg.org/panz3r/react-native-flipper-databases that can be used to add Flipper Database support for this package on iOS. This was pretty quick code, but it works for me and might help someone else who wants to do the same.

Here is the PR with the relevant code: https://codeberg.org/panz3r/react-native-flipper-databases

[2022-08-09 05:38] ospfranco commented on #74
I only see 404

[2022-08-09 19:54] chrisdrackett commented on #74
yeah, seems like you need to make an account to be able to even see the repo :\

*sigh*

[2022-08-09 19:55] chrisdrackett commented on #74
looks like my PR got merged, you can see usage in the docs here: https://www.npmjs.com/package/react-native-flipper-databases

[2022-08-10 04:33] ospfranco commented on #74
Ah, now I get it... you don't need any change on this package, but you added functionality to that package to explore quick-sqlite databases. That's very useful though! You can submit a PR modifying the readme, I'm sure a lot of people will need it sooner or later :)

[2022-08-11 17:25] ospfranco opened #76 "Example project on android is not building"
I just tried building the example project on android and I'm facing a crazy error:
![Screenshot 000868](https://user-images.githubusercontent.com/1634213/184195410-574f260d-a171-4d8a-80c2-4de6efea10a7.png)

No idea when this broke and also no idea why it broke.

@EduFrazao can you try to build it too and let me know if you face the same issue?

[2022-08-12 17:50] goofiw opened #77 "Compatibility Questions"
On the readme, it says this library is compatible with react-native-sqlite-storage - does that mean the API of this library should be compatible?  We noticed a few differences.

[2022-08-13 14:00] ospfranco commented on #77
Should be compatible, but at this point many things changed, I will remove the description from the readme

[2022-08-13 18:53] eylamf opened #78 "Using with TypeORM"
#### Description
Hey! Thanks for making this great package. I'm attempting to use it with TypeORM but getting the following error when initializing

<img width="224" alt="Screen Shot 2022-08-13 at 12 21 58 PM" src="https://user-images.githubusercontent.com/25336031/184507902-e1269255-0a82-4a27-abe1-f062703ddca3.png">

1. I have this package, `typeorm`, `reflect-metadata` and the required babel plu

[2022-08-14 11:57] #77 closed

[2022-08-14 11:57] #74 closed

[2022-08-14 11:58] ospfranco commented on #78
You need to restart metro (and the cache) but cannot tell you more, I got it working once with the patch exporting the `package.json` on the TypeORM package.json, but you will have to debug any further issues yourself.

[2022-08-19 05:14] ospfranco commented on #78
Did you solve it?

[2022-08-20 05:02] b4git opened #79 "Does it support Web platform?"
Does this library support react native web platform as well?

[2022-08-20 07:28] ospfranco commented on #79
Nope

[2022-08-21 09:43] LarenDorr commented on #78
Same error.
But  when I debugging, it throw diffrent error.

Sometimes is:

Error: Requiring module "node_modules/typeorm/browser/driver/react-native/ReactNativeDriver.js", which threw an exception: Error: Requiring unknown module "undefined". If you are sure the module exists, try restarting Metro. You may also want to run `yarn` or `npm install`.

or

Error: Requiring unknown module "undefined".

[2022-08-21 10:46] LarenDorr commented on #78
I found reason, because used this babel plugin.
link: https://github.com/leonardfactory/babel-plugin-transform-typescript-metadata
But after delete this plugin, typeorm will throw another error:

[ColumnTypeUndefinedError: Column type for TimeLineSource#id is not defined and cannot be guessed. Make sure you have turned on an "emitDecoratorMetadata": true option in tsconfig.json. Also make sure you

[2022-08-21 11:36] LarenDorr commented on #78
I fount a solution, just add `console.log('AbstractSqliteDriver: ', AbstractSqliteDriver);` to `node_modules/typeorm/browser/driver/react-native/ReactNativeDriver.js`. Let `AbstractSqliteDriver` variable to be used.
But I don't know why?? Maybe it has something wrong with compilation.

[2022-08-27 12:04] unseenthing opened #80 "Temporary File Storage Locations and Disk I/O error for large datasets with queries"
Hi,
I'm getting `SQL execution error: disk I/O error` when doing any type of WHERE/ORDER BY on tables with lots of rows.
At the moment my table has about 12k rows.
When I do `SELECT * FROM table` then it works fine and give back all 12k rows, only when trying to add WHERE/ORDER BY it would give the error.
However when I also add LIMIT of +- 350 to the WHERE/ORDER BY then it works again and I can s

[2022-08-28 15:11] ospfranco commented on #79
PRs are welcome for anyone that needs web functionality

No idea if browsers dbs support SQL syntax and all the feature set, I assume not.

[2022-08-29 11:23] EduFrazao commented on #80
Hi @unseenthing .
Are you getting this problems on Android right?

Please, could you try to run this statement right before opening your connection?

db.executeSql('PRAGMA temp_store = memory', []);

[2022-08-29 11:39] unseenthing commented on #80
Yeah forgot to mention this is android.

Do you meant this:
[code]
or this:
[code]

Since I only call the `sqlite.open` to get started(and check for db open error of course, and `import 'react-native-quick-sqlite';` in index.js)

[2022-08-29 11:56] EduFrazao commented on #80
const dbOpenResult = sqlite.open(DB_NAME, '../databases'); // For android, use '../databases' as location
if(!db.status) {
    sqlite.executeSql(DB_NAME, 'PRAGMA temp_store = memory', []);
}

[2022-08-30 08:55] unseenthing commented on #80
The above worked, thanks!
I should be able to set the PRAGMA temp_store_directory through that as well.
Tho what should I set it to, since I see you mention android should use `'../databases'` instead of `default`

FYI, I did recreate the whole DB using the `'../databases'` just to see if that would fix the problem(seeing as the prob might be write access on the temp folder location) instead of me

[2022-08-30 09:49] ospfranco commented on #80
Problems seems solved, closing this

[2022-08-30 12:03] EduFrazao commented on #80
Its because Android have no tmp partition, so you have to choose to create temporary structures in memory or set another location for them. At least here, with databases around 1GB in memory seems reliable and fast.
The 'databases' directory is the recommended path for Android.
Glad that it helps! Happy coding!

[2022-09-01 08:20] vicary commented on #78
@ospfranco I am using TypeScript and typeorm/typeorm#9178 does not fix it.

Instead I am having this weird error

[code]

<details>
<summary>screenshot</summary>

![image](https://user-images.githubusercontent.com/85772/187841974-0ca21d10-c7d1-4285-a9ac-2e40f0d638b0.png)
</details>

More digging into sources in node_modules I found that the most likely cause is metro trying to hoist the optional `

[2022-09-01 08:23] ospfranco commented on #78
No idea sorry, no time to debug issues right now

[2022-09-01 09:54] ospfranco commented on #78
Yeah, this is a problem with Metro and the hardcoded requires of TypeORM, I already tried to debug it and found the instructions on the README working, but not using the library at the moment.

[2022-09-01 10:26] vicary commented on #78
OK I'll stick with my workaround for the time being, thanks for replying!

[2022-09-09 18:07] mr-tm opened #85 "SQLite compression extension support"
Given the fact that this library has option to ship with its own SQLite and it is meant for quickly querying large datasets, would it be possible to add support for SQLite compression extension?

I've found some Open Source SQLite compression extensions:
https://github.com/phiresky/sqlite-zstd#cross-compiling
https://github.com/mlin/sqlite_zstd_vfs
Can be built as a static library, already tested

[2022-09-14 00:33] b4git commented on #79
Came across this, but is only for web and not for native: https://sql.js.org/#/
Which says it supports SQLite in browser. We are looking for a use case where performance is critical for live data update and manipulation. So still researching for a lib that supports both react native and web platform.

[2022-09-14 10:59] ospfranco commented on #79
You will probably not find such a thing. SQLite is written in C, workarounds might be possible if you compile it to web assembly, but the solution on web is to wrap a higher-level API to insert data to a different database backend (sqlite on native, indexedDb on browsers). Unfortunately, this is not going to work the way you want because this is a low-level library that executes raw SQL queries an

[2022-09-14 10:59] #79 closed

[2022-09-14 13:24] ospfranco commented on #79
Apparently, people are running that sql.js thing on production:

https://blog.ouseful.info/2022/04/06/compiling-full-text-search-fts5-into-sqlite-wasm-build/

The trade-off is awful though, 6mbs added to the web page load time, I will definitely not implement this on quick-sqlite

[2022-09-28 07:07] craftzdog commented on #37
Setting a flag in the Pod project works:

<img width="1165" alt="CleanShot 2022-09-28 at 16 01 42@2x" src="https://user-images.githubusercontent.com/1332805/192711304-29d62c7a-872f-4919-9eac-2ab9ab480d90.png">

But I don't know how to set it via `Podfile` in my project atm 🤔

[2022-09-28 10:31] ospfranco commented on #37
I'm open to ideas on how to pass these flags without patch package to CMakeLists and Xcode. I didn't figure out a nice way to do it so far.

[2022-09-29 00:21] craftzdog commented on #37
managed to change the build config via Podfile of the RN project by using a `post_install` hook!

[code]

Next up is CMakeLists

[2022-09-29 04:10] craftzdog commented on #37
ok, adding the following lines to the CMakeLists.txt works!

[code]

well, how can this be specified from the parent project🤔
Something like `rootProject.ext.get('quickSqliteBuildFlags')` in `build.gradle`?

[2022-10-01 16:37] ospfranco commented on #85
The readme of the project states that it is not ready for production. Also, modifying the compilation process cannot be easily achieved. IMO it is out of the scope of this project and you might want to create your own fork. Closing this.

[2022-10-01 16:37] #85 closed

[2022-10-06 04:19] elliotsayes commented on #78
If you don't want to edit your node_modules, I created a patch of TypeORM with a couple of the fixes mentioned: https://github.com/typeorm/typeorm/compare/master...elliotsayes:react-native-typeorm:dev
This also adds hacky support for Buffer (sqlite "blob") to the react-native driver. Add to your deps like so:
[code]

[2022-10-09 01:42] cmoel opened #90 "Unable to open database when using The New Architecture"
👋 Thanks for this library. The recent improvements for promise-based transactions look great.

I generated a new app using the `react-native-template-typescript` template. After adding `react-native-quick-sqlite` and installing using the instructions under [The New Architecture](https://reactnative.dev/docs/the-new-architecture/use-app-template#enable-the-new-architecture) (I'm currently focused o

[2022-10-09 21:02] ospfranco commented on #90
This has nothing to do under the fabric or any of the other mumbo jumbo, JSI bindings should always work. You seem to be importing the wrong function though, did you check you are on the latest version (5.0.1)?

[2022-10-10 01:39] cmoel commented on #90
Yes, I'm using version 5.0.1. It sounds like I'm doing something wrong, so I'm happy to close this.

[2022-10-10 01:40] #90 closed

[2022-10-10 09:19] ospfranco commented on #90
Somehow you are importing this:

<img width="520" alt="Screenshot 001113" src="https://user-images.githubusercontent.com/1634213/194834290-a4f1f623-e9f6-484d-b30a-27eeec079f4b.png">

Whereas you should be importing this:

<img width="582" alt="Screenshot 001114" src="https://user-images.githubusercontent.com/1634213/194834338-a1429a08-6573-4ec1-8026-b2a522a37d92.png">

Check your TSConfig, maybe s

[2022-10-11 01:32] cmoel commented on #90
Cool, thanks for your help @ospfranco!

[2022-10-11 06:37] elliotsayes opened #91 "App crashes after writing multiple blobs"
To reproduce:
1. `npx react-native init BlobRepro --template react-native-template-typescript && cd BlobRepro`
2. `yarn add react-native-quick-sqlite && npx pod-install`
3. Add a function to write maby blobs, e.g.:
[code]
4. `yarn start --reset-cache` , `yarn ios`
5. Run the test code, e.g. via `<Button title='dbTest' onPress={dbTest} />`
6. Observe app crashes:
7.

[2022-10-11 13:48] ospfranco commented on #91
Hmm I did not do the blob integration myself, it was added on https://github.com/ospfranco/react-native-quick-sqlite/pull/12.

@andymatuschak any idea what could be going on?

[2022-10-11 14:31] tomekzaw commented on #91
Hey, implementation of blobs in React Native is platform-specific. Basically, each blob has its own UUID and is stored in a hashmap in Java/Objective-C. From what I remember, there may be a slight delay between creating blob in JSI vs. adding an entry in the hashmap on the native side. Have you tried flushing the native queue before accessing blobs?

[2022-10-11 17:37] tomekzaw commented on #91
One way would be to call some blocking synchronous method of native module. This could prove my hypothesis but this is rather unacceptable as it stops JS runtime until the native queue is flushed. Perhaps blob implementation in React Native should be rewritten using JSI so the calls are synchronous. This sounds like an ideal use case for TurboModules from the New Architecture.

[2022-10-11 18:14] ospfranco commented on #91
I'm not sure I'm following, but current implementation is already using synchronous JSI calls.

[2022-10-11 18:19] ospfranco commented on #91
Oh sorry, I misread that, you meant the RN blob implementation... I guess you mean the ArrayBuffer, which would fall again under hermes. Does this happen under JSC?

[2022-10-11 19:23] elliotsayes commented on #91
@ospfranco I am also experiencing crashes under JSC

[2022-10-11 19:47] elliotsayes commented on #91
Could this be relevant for fixing the issue in hermes?
https://github.com/facebook/hermes/commit/e6d887ae96bef5c71032f11ed1a9fb9fecec7b46

[2022-10-11 20:37] andymatuschak commented on #91
No, I don't think so. That issue would (I believe) let us remove this extra copy I noted [here](https://github.com/ospfranco/react-native-quick-sqlite/pull/12/files#diff-810f647a3bbc84cf03d50aa1aa76fdabd9ee6fa3678597a44272e6a0ea6cb84bR332) on *reads*, but this issue pertains to *writes*. Furthermore, that API's absence shouldn't affect correctness: we're making a full copy, so anything we do with

[2022-10-11 20:38] andymatuschak commented on #91
You might try changing `SQLITE_STATIC` to `SQLITE_TRANSIENT` [here](https://github.com/ospfranco/react-native-quick-sqlite/pull/12/files#diff-810f647a3bbc84cf03d50aa1aa76fdabd9ee6fa3678597a44272e6a0ea6cb84bR332). That will cause an extra copy of the incoming `ArrayBuffer` (which shouldn't be necessary) but will make the potential race window smaller. (I don't currently have an environment set up w

[2022-10-11 20:43] elliotsayes commented on #91
Note that the issue does also appear on reads (in fact reads appear to crash it more reliably)

[2022-10-12 19:59] andymatuschak commented on #91
Ah, got it, thanks for clarifying. Still, the API you mention would only affect reads; if it's occurring on writes without reads, that API wouldn't change anything here AFAICT.

[2022-10-13 14:56] ospfranco commented on #91
Just as a thought, maybe [this](https://github.com/ospfranco/react-native-quick-sqlite/blob/0d648611e924caca864358836f36caa5d8c42b63/cpp/JSIHelper.cpp#L177) is missing move semantics. You can try to add a `std::move` in there, seems unlikely but memory handling is tricky

[2022-10-21 00:53] cmoel opened #92 "Trouble with the interface for `transactionAsync`"
I'm trying to use the [Async Transactions](https://github.com/ospfranco/react-native-quick-sqlite#transactions) API and I'm running into a couple issues. It's possible I'm doing it wrong but it doesn't seem like it right now.

After opening the database, I'm purposefully raising an error, hoping to `catch` it on the JavaScript side:

[code]

I haven't defined the `people` table yet so an error is

[2022-10-21 08:22] ospfranco commented on #92
hmm weird, you catch should work (I assume you are OK with a incorrect/partial insertion of data). Can you create a reproducible example?

[2022-10-21 16:02] cmoel commented on #92
Yeah, I'll put together a repo with a minimal reproducible example. In this case, I wouldn't expect incorrect or partial insertion of data. I would expect the transaction to rollback, not commit.

[2022-10-22 00:04] cmoel commented on #92
@ospfranco I made a minimal reproducible example at [cmoel/react-native-quick-sqlite-transaction-issues](https://github.com/cmoel/react-native-quick-sqlite-transaction-issues).

This example reproduces the `SQL execution error` that I would prefer to catch on the JavaScript side and the `Promise.resolve` call required to make the transaction functions type check.

[2022-10-22 11:53] ospfranco commented on #92
you are catching the error though, how do you expect the code to detect an incorrect insertion?

[2022-10-23 18:29] cmoel commented on #92
@ospfranco I would _like_ to catch the error, which is why I'm calling `catch` on the promise chains. They aren't being hit, though. I tried to clarify this in this commit: https://github.com/cmoel/react-native-quick-sqlite-transaction-issues/commit/195ff54d32fb528b1c3f84b896ec739f947c542e. Is there something else I'm missing or should be doing differently?

[2022-10-24 11:17] ospfranco commented on #92
I might be wrong, but are you following the promise chain correctly? you are not returning the promise

![Screenshot 001196](https://user-images.githubusercontent.com/1634213/197514063-b2cd593e-a9dc-4162-a431-e05f995e1b4d.png)

[2022-10-24 11:29] ospfranco commented on #92
Ok, I took a look. I know understand your last resolve, the types were incorrect, I changed the result of the fn param to Promise<any>.

As for the database locked, this one is a bit more misterious to me, it seems to me that since you catched the error you skipped the internal `rollback` statement and database is locked in the transaction.

[2022-10-24 11:42] ospfranco commented on #92
Sorry, you are right, the error is not being properly catched, probably has to do with how I implemented the error throwing inside the async execute function. I will need to take a look later though.

[2022-10-24 12:04] ospfranco commented on #92
I did a quick refactoring, seems to be working from a very quick testing, give it a try and let me know if it is working properly now (5.0.3)

[2022-10-25 13:00] cmoel commented on #92
Cool, thanks! v5.0.3 now lets me catch the SQL error in the my app 🎉

One issue I've found, though, is that transactions aren't atomic: the first insert happens but isn't rolled back when the second insert fails. I should have time over the next few days to put together a TypeScript-only PR to address this.

[2022-10-26 08:42] ospfranco commented on #92
you need to throw an error for the catch inside to rollback the entire transaction, that's what I meant: you are catching the error inside, the transaction it's not going to be rolled back for you

[2022-11-01 03:46] ErHarinderSingh commented on #66
Hi @ospfranco @ShivamJoker @EduFrazao I am able to use existing db but it's not working in release mode. I compressed 168mb SQLite to 65mb zip file and while app startup I unzip it, place in document dir and able to use it. But not working in release mode. I am trying to find the issue what is failing when app is running in release mode. Anyone can help?
Thanks.

[2022-11-01 06:56] ospfranco commented on #66
No idea, it's better if you ask on StackOverflow with some code

[2022-11-02 17:02] ErHarinderSingh commented on #66
No issue @ospfranco, I fixed it. Thanks. It was not related to quick-sqlite. Thanks 😊

[2022-11-15 10:34] vishalnarkhede opened #96 "Foreign key constrain failure results in DB lock"
I am using v4 of `react-native-quick-sqlite` package. While using `sqlite.executeSqlBatch` operation, if one of the foreign key constrains fails, then DB is left in locked state forever until I reopen the app. Is there a good way of avoiding this or whats the best way of handling this failure?

[2022-11-15 12:13] ospfranco commented on #96
@EduFrazao is the C++ code of executeSqlBatch catching exceptions/errors correctly?

[2022-11-15 16:17] EduFrazao commented on #96
Hi @ospfranco and @vishalnarkhede .
I belive that there is a missing rollback in case of SQL erros in during the batch execution.
The batch execution uses a exclusive transaction, and in case of SQLErrors, the routine only quits.
I've made a PR (#97)  to invoke a rollback before returning with the SQL error.

[2022-11-17 09:54] vishalnarkhede commented on #96
Thanks for the PR @EduFrazao . I will try the updated version and get back

[2022-11-17 12:22] EduFrazao commented on #96
Nice! Please let me know the results!

[2022-11-18 10:19] ducdetronquito opened #98 "How to use Quick SQLite in a unit test ?"
Hi !

First, thank you for developing Quick SQLite, it looks very clean :)

My question may be silly as I'm pretty new to React-Native, but how do you run a unit test of a function that uses Quick SQLite ?

Say that in an application, you have the following function:

[code]

I would like to unit test this function an run it with Jest on my computer, to ensure it keep behaving as expected.
We can

[2022-11-18 17:42] ospfranco commented on #98
you can't, this is a JSI module that depends on JSC/Hermes and therefore will only run on the React Native environment. You can write some pseudo test code when running in an app.

[2022-11-18 17:42] #98 closed

[2022-11-19 07:03] LarenDorr opened #99 "TypeError: undefined is not a function"
react-native-quick-sqlit: 5.1.0
typeorm: 0.3.10

I got a type error When using above versions.
Stack info:
[code]
Then I found react-native-quick-sqlite has a interface change: https://github.com/ospfranco/react-native-quick-sqlite/blob/d8592735d7a900c3401fff9c719038b64c8eb6b8/src/index.ts#L362

The `executeSql` function changed to `execute`, but in typeorm it's still
 `executeSql`: https://github

[2022-11-19 07:16] ducdetronquito commented on #98
Ok, thanks for your quick answer !

[2022-11-19 09:48] ospfranco commented on #99
ah, my bad, I did not test with typeORM, I will create a new wrapper object.

[2022-11-19 10:14] #92 closed

[2022-11-19 10:15] ospfranco commented on #92
New transactions now have commit and rollback methods, they still internally catch any thrown error but there is a bit more control for anyone who would like to internally catch any error. Released on 6.0.0

[2022-11-19 10:15] ospfranco commented on #96
The catch should now solve any pending transaction. I'm closing this, but feel free to tell us if it is not working and I will re-open it.

[2022-11-19 10:15] #96 closed